body {
  background: #000000;
  /* width: 1400px; */
  width: 100%;
  /* height: 7272px; */
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 30px;
  margin: 0 auto;
}
.navlinks {
  width: 603px;
  height: 30px;
  margin: 44px auto 0 auto;
  letter-spacing: -0.03em;
}
.navlink {
  display: inline;
  margin-right: 43px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffff;
}
.navlink:nth-last-child(1) {
  margin-right: 0px;
}
.navlink:hover {
  border-bottom: 1px solid #ff25c2;
  opacity: 0.5;
}

main {
  width: 100%;
  margin: 0 auto;
  font-family: "Inter";
  font-style: normal;
  background: #000000;
}
.presentation {
  margin: 0 auto;
}

h1 {
  width: 919px;
  height: 156px;
  padding-top: 60px;
  margin: 0 auto 20px auto;
  font-weight: 700;
  font-size: 150px;
  line-height: 133px;
  /* or 89% */

  text-align: center;
  letter-spacing: -0.07em;

  color: #ff25c2;
}
.text-headphones {
  width: 430px;
  height: 103px;
  margin: 0 auto -33px auto;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.03em;

  color: #ffffff;
}
.headphones {
  width: 819px;
  height: 840px;
  margin: 0 auto 70px auto;
  background-image: url("../Recources/headphones.png");
}
.White {
  width: 1150px;
  height: 644px;
  margin: 0 auto 80px auto;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../Recources/hand\ with\ box.png");
  border-radius: 30px;
}
.Black {
  box-sizing: border-box;
  width: 1150px;
  height: 644px;
  margin: 0 auto 80px auto;
  background: url("../Recources/blackphone.png");
  border: 1px solid #ffffff;
  border-radius: 30px;
}
.text-White {
  width: 375px;
  height: 112px;
  padding-left: 50px;
  padding-top: 50px;
  margin-bottom: 149px;
  font-weight: 700;
  font-size: 60px;
  line-height: 93.52%;
  /* or 56px */
  letter-spacing: -0.05em;
  color: #ffffff;
}
.text-Black {
  width: 375px;
  height: 112px;
  padding-left: 50px;
  padding-top: 50px;
  margin-bottom: 149px;
  font-weight: 700;
  font-size: 60px;
  line-height: 93.52%;
  /* or 56px */
  letter-spacing: -0.05em;
  color: #ffffff;
}
.box-white {
  width: 141px;
  height: 142px;
  margin-left: 50px;
  margin-bottom: 30px;
  background: url("../Recources/boxforheadphones\ white.png");
  border-radius: 30px;
}
.box-black {
  width: 141px;
  height: 142px;
  margin-left: 50px;
  margin-bottom: 30px;
  background: url("../Recources/boxforheadphones\ black.png");
  border-radius: 30px;
}
.btn-buy-white {
  display: block;
  width: 420px;
  height: 110px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  text-decoration: none;
  margin-left: 50px;
  border-radius: 100px;
  letter-spacing: -0.03em;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 110px;
  text-transform: uppercase;
  /* padding-top: 40px; */
}
.btn-buy-black {
  display: block;
  width: 420px;
  height: 110px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  text-decoration: none;
  margin-left: 50px;
  border-radius: 100px;
  letter-spacing: -0.03em;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 110px;
  text-transform: uppercase;
}

.face-to-face {
  /* width: 1400px; */
  width: 100%;
  min-width: 1400px;
  height: 786px;
  margin-top: 150px;
  background: url("../Recources/mirror-men.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
h2 {
  width: 560px;
  height: 148px;
  padding-top: 190px;
  /* margin-left: 421px; */
  margin: 0 auto;
  font-weight: 700;
  font-size: 100px;
  line-height: 73.52%;
  /* or 74px */
  text-align: center;
  letter-spacing: -0.06em;
  color: #ff25c2;
}
.text-face-to-face {
  width: 671px;
  height: 90px;
  margin: 39px auto 0 auto;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.workout {
  width: 676px;
  margin: 0 auto;
}
.header-workout {
  width: 676px;
  height: 222px;
  padding-top: 150px;
  margin: 0 auto 80px auto;
  font-weight: 700;
  font-size: 100px;
  line-height: 73.52%;
  /* or 74px */
  text-align: center;
  letter-spacing: -0.06em;
  color: #ff25c2;
}

.Description {
  width: 507px;
  height: 194px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.Description:nth-last-child(1) {
  margin-bottom: 120px;
}
.pinc-circle {
  width: 54px;
  height: 54px;
  background-color: #ff25c2;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  line-height: 64px;
}

.text-description {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.clear-voice {
  width: 100%;
  min-width: 1400px;
  height: 1040px;
  margin: 0 auto;
  background: url(../Recources/red\ hair\ girl.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.text-clear-voice {
  width: 1150px;
  height: 370px;
  margin: 0 auto 40px auto;
  font-weight: 700;
  font-size: 100px;
  line-height: 73.52%;
  padding-top: 130px;
  text-align: center;
  letter-spacing: -0.06em;

  color: #ffffff;
}
.text-advanced-algorithms {
  width: 942px;
  height: 200px;
  margin: 0 auto 60px auto;
  font-weight: 700;
  font-size: 45px;
  line-height: 90%;
  text-align: center;
  letter-spacing: -0.06em;
  color: #ffffff;
}
.btn-buy {
  display: block;
  width: 866px;
  height: 110px;
  margin: 0 auto;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 100px;
  letter-spacing: -0.03em;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 110px;
  text-transform: uppercase;
}
.settings {
  width: 1150px;
  margin: 150px auto 0 auto;
}
.text-settings {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 100px;
  line-height: 73.52%;
  /* or 74px */
  text-align: center;
  letter-spacing: -0.06em;
  color: #ffffff;
}
.image-setting {
  position: relative;
  width: 1150px;
  height: 450px;
  background: url(../Recources/settings.png);
  border-radius: 30px;
}
.we-cleared {
  position: absolute;
  width: 475px;
  height: 60px;
  left: 317px;
  top: 340px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.03em;

  color: #ffffff;
}
.footer {
  width: 100%;
  height: 30px;
  margin: 0 auto;
  /* font-family: "Inter";
  font-style: normal; */
}
.network {
  display: block;
  width: 1400px;
  min-width: 1150px;
  margin: 63px auto 200px auto;
}
.networklinks {
  /* display: block; */
  width: 970px;
  height: 44px;
  margin: 0 auto 0 auto;
  letter-spacing: -0.06em;
}
.networklink {
  display: inline-block;
  width: 211px;
  height: 44px;
  margin-right: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73.52%;
  /* or 44px */
  text-align: center;
  letter-spacing: -0.06em;
}
.networklink:hover {
  opacity: 0.5;
}
.networklink:nth-last-child(1) {
  margin-right: 0px;
}
.nothing {
  width: 127px;
  height: 42px;
  margin: 32px auto 52px auto;
}

.nothing-link {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ff25c2;
}
